body {
  font-size: 16px;
  color: #fff;
  background-color: #f6b319;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6e390;
  border-radius: 0;
  border: 0;
}



.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: maroon;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}



.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#our-menu {
  font-size: 2vw;
  color: forestgreen;
  font-weight: bolder;
}

#Chicken, #Beef, #Sushi {
  height: 1000px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  background-color: lightblue;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; 
}
#Chicken:hover, #Beef:hover, #Sushi:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#Chicken span, #Beef span, #Sushi span {
 display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5vw;
  font-weight: bold;
  }

#Chicken div, #Beef div, #Sushi div {
 display: block;
  position: absolute;
  color: black;
  top: 5%;
  left: 5%;
  right: 5%;
}


/********** Large devices only **********/
@media (min-width: 1200px) {
#Chicken, #Beef, #Sushi  {
    width: 100%;
    margin: 0 auto 15px;
  }
   .navbar-brand {
    margin-bottom: 7%;
} 
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  #Chicken, #Beef, #Sushi  {
    width: 100%;
    margin: 0 auto 15px;
  }

  .navbar-brand {
    margin-bottom: 7%;
}
}


@media (min-width: 768px) and (max-width: 991px) {

#Chicken, #Beef, #Sushi  {
    width: 100%;
    margin: 0 auto 15px;
  }
    .navbar-brand {
    height: 7%;
}

@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
     margin-bottom: 7%;
    font-size: 5vw; 
  }


  #collapsable-nav a { 
    font-size: 1.2em;
  }

  #Chicken, #Beef, #Sushi  {
    width: 100%;
    margin: 0 auto 15px;
  }
  .navbar-brand {
    height: 7%;
}
}



@media (max-width: 479px) {
  /* Header */
  .navbar-brand { /
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #Chicken, #Beef, #Sushi  {
    width: 280px;
    margin: 0 auto 15px;
  }
}

